@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --primary-light-green: hsl(148, 38%, 91%);
  --primary-medium-green: hsl(169, 82%, 27%);
  --primary-red: hsl(0, 66%, 54%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-med-grey: hsl(186, 15%, 59%);
  --neutral-dark-grey: hsl(187, 24%, 22%);

  --font-size-label: 16px;
  --font-family: "Karla", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-label);
  color: var(--neutral-dark-grey);
  background-color: var(--primary-light-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 30px;
}

form {
  background-color: var(--neutral-white);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

.form-radio {
  display: flex;
  align-items: center;
  justify-self: center;
}

.form-query {
  margin-bottom: 20px;
}

#general-enquiry,
#support-request {
  margin-right: 10px;
}

#message {
  width: 100%;
  height: 240px;
}

label {
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-regular);
  display: block;
}

label[for="message"] {
  margin-bottom: 10px;
}

label[for="consent"] {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
.form-radio {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  margin: 10px 0 25px;
  border: 1px solid var(--neutral-med-grey);
  border-radius: 10px;
  outline: none;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin-right: 20px;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid currentColor;
  border-radius: 0.15em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: var(--primary-medium-green);
  box-shadow: 0 0 8px rgba(0, 169, 139, 0.4);
}

button {
  background-color: var(--primary-medium-green);
  color: var(--neutral-white);
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-red);
}

button:disabled {
  background-color: var(--neutral-med-grey);
  cursor: not-allowed;
}

footer {
  margin: 100px 0 50px 0;
}

/* Media Queries */
@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}
